{% extends 'base.html' %}
{% load static %}


{% block content %}
<div class="page-heading text-center">
  <div class="container zoomIn animated">
    <h1 class="page-title">
      Assistência Social<span class="title-under"></span>
    </h1>
  </div>
</div>

<div class="section-home home-reasons text-center">
  <div class="container-iframe">
    <iframe
      class="responsive-iframe"
      src="https://www.youtube.com/embed/Q5GZ-uPJQos"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen
    ></iframe>
  </div>
</div>
<!-- /.home-reasons -->

<div class="main-container">
  <div class="our-causes fadeIn animated">
    <div class="container">
      <h2 class="title-style-1">
        ASSISTÊNCIA SOCIAL<span class="title-under"></span>
      </h2>
      <p>
        Mensalmente a ASSOCIAÇÃO ESPIRITA O CONSOLADOR, auxilia as famílias
        carentes, entregando uma cesta básica, kit de limpeza, kit de
        higiene pessoal e também dando orientações para a família através de
        palestras, buscando orienta-las a lutar pelo seu sustento e também
        viver harmoniosamente com os demais familiares e, sobretudo
        priorizar a educação dos filhos. As cestas são obtidas
        exclusivamente das doações de trabalhadores e frequentadores da
        casa, além de parceiros diversos, e sempre que se faz necessário a
        Associação Espirita O Consolador as completa.
      </p>

      <p>
        OBJETIVO: Atender famílias carentes que vivem em situação de
        vulnerabilidade social, promover a valorização dessas famílias para
        que iniciem um processo de reequilíbrio moral e social, sem que haja
        a necessidade de dependência externa, pois, além das cestas contendo
        o alimento, elas participam de uma palestra/conversa fraterna,
        sempre educativa.
      </p>

      <p>
        CRITÉRIOS: Geralmente, famílias com 5 membros em média, morando em
        locais com precárias condições de habitação, higiene e saúde. Sem
        Renda ou com renda insuficiente dos responsáveis pela alimentação de
        crianças. Essas famílias permanecem no programa por 6 (Seis) meses
        em sistema de rodízio e os que são mais carentes têm prioridade no
        atendimento.
      </p>
    </div>
  </div>
</div>
<!-- /.our-causes -->
{% endblock content %}