{% extends 'base.html' %}
{% load static %}


{% block content %}

	<div class="page-heading text-center">

		<div class="container zoomIn animated">
			
			<h1 class="page-title">Atendimento Fraterno <span class="title-under"></span></h1>
			
		</div>

	</div>

	<div class="section-home home-reasons">

        <div class="container">
        
          <div class="row fadeIn animated">

            <div class="col-md-6">
    
              <img src="{% static 'images/atendimento_img.png' %}" alt="" class="img-responsive">
    
            </div>
    
            <div class="col-md-6">
    
              <h2 class="title-style-2">Mais informações sobre o atendimento fraterno <span class="title-under"></span></h2>
    
              <p>
                É o primeiro acolhimento realizado na casa espírita, juntamente com a recepção. Tem como objetivo amparar, esclarecer e orientar através do Evangelho, indicando aos interessados, em um segundo momento, a importância do aprendizado para a resolução dos problemas cotidianos. De forma íntima e reservada, o assistido será direcionado para as assistências que se fizerem necessárias, sem qualquer tipo de julgamento. Na casa espírita "O Consolador", esse atendimento ocorre 30 minutos antes das palestras.
                <br>
                Maiores esclarecimentos serão dados durante a entrevista.
              </p>

            </div>
    
          </div>
          
  

        </div>
      

    </div> <!-- /.home-reasons -->
{% endblock content %}