{% extends 'base.html' %}
{% load static %}


{% block content %}

	<div class="page-heading text-center">

		<div class="container zoomIn animated">
			
			<h1 class="page-title">Consolarte <span class="title-under"></span></h1>
			
		</div>

	</div>

	<div class="section-home home-reasons">

    <div class="container">
        
          <div class="row fadeIn animated">

            <div class="col-md-6">
    
              <img src="{% static 'images/consolarte.jpg' %}" alt="" class="img-responsive">
    
            </div>
    
            <div class="col-md-6">
    
              <h2 class="title-style-2">Divulgando o Espiritismo através da arte <span class="title-under"></span></h2>
    
              <p>
                Decididos a divulgar o EVANGELHO DE JESUS e a DOUTRINA DOS ESPÍRITOS através do trabalho artístico que cura, renova, emociona, socorre e eleva, em 4 de Novembro de 2017, aconteceu nosso primeiro encontro.
              </p>

              <p>
                Muitos já passaram por aqui, alguns permaneceram conosco até os dias de hoje, com a certeza de que todos nós deixamos e levamos as melhores energias de amor.
              </p>

              <p>
                Que JESUS e MARIA continuem abençoando esse nosso amado Consolarte, e que você que ainda não faz parte, venha se juntar a nós!
              </p>

                
            </div>
    
          </div>
           

        </div>
      </div>
      <br>
    </div> 

    
    </div> <!-- /.home-reasons -->
{% endblock content %}