{% extends 'base.html' %}
{% load static %}

{% block content %}

	<div class="page-heading text-center">

		<div class="container zoomIn animated">
			
			<h1 class="page-title">Apoie a Casa Espírita O Consolador <span class="title-under"></span></h1>
			{% comment %} <p class="page-description">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit Necessitatibus.
			</p>  {% endcomment %}
			
		</div>

	</div>

    <div class="section-home home-reasons">

        <div class="main-container">

            <div class="container">

                <div class="row fadeIn animated">

                    <div class="col-md-6">

                        <img src="{% static 'images/donateicon.png' %}" alt="" class="img-responsive">

                    </div>

                    <div class="col-md-6">

                        <h2 class="title-style-2">Depósito em conta bancária <span class="title-under"></span></h2>

                        <p>
                            Associação Espírita O Consolador
                            <br>CNPJ: 59.054.858/0001-81
                            <br>
                            <br>Dados Bancários:
                            <br>Banco: Itaú
                            <br>Agência: 1556
                            <br>Conta Corrente: 52736-3
                        </p>

                       
                    </div>

                </div> <!-- /.row -->

            </div>

		</div>	
		


	</div>

    <div class="main-container">

		<div class="container">

			<div class="row fadeIn animated">

				<div class="col-md-6">

					<img src="{% static 'images/QRcode.jpg' %}" alt="" class="img-responsive">

				</div>

				<div class="col-md-6">

					<h2 class="title-style-2">Transferência via chave pix <span class="title-under"></span></h2>

					<p>
						Chave Pix   (11)966264247
					</p>

					<p>
						Como fazer uma doação por QR code?
                        Abra o app do seu banco, escolha a opcão de pagamento por Pix e aponte sua câmera para o QR code.
					</p>

					<p>
						Qualquer valor doado será de grande ajuda para os trabalhos da Casa Espírita O Consolador
					</p>


				</div>

            </div> <!-- /.row -->
		</div>
    </div>	

    <div class="main-container">

		<div class="container">

			<div class="row fadeIn animated">

				<div class="col-md-6">

					<img src="{% static 'images/foodicon.png' %}" alt="" class="img-responsive">

				</div>

				<div class="col-md-6">

					<h2 class="title-style-2">Doações de roupas e alimentos <span class="title-under"></span></h2>

					<p>
						Para doação de roupas e alimentos, por favor, entre em contato através de nosso email ou telefone.
                        <br>
                        <br>Email: contato@casaespiritaoconsolador.com.br
                        <br>Fone: (11) 966264247
					</p>

				</div>

            </div> <!-- /.row -->

		</div>

    </div>	

	</div>

{% endblock content %}
