{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="page-heading text-center">
  <div class="container zoomIn animated">
    <h1 class="page-title">
      Cursos Doutrinários <span class="title-under"></span>
    </h1>
  </div>
</div>

<div class="main-container">
  <div class="our-causes fadeIn animated">
    <div class="container">
      <h2 class="title-style-1">
        Nossos Cursos <span class="title-under"></span>
      </h2>
      <p class="page-description">
        A Casa Espírita O Consolador oferece cursos gratuitamente que tem
        como objetivo o estudo, o ensino e a divulgação da doutrina espírita
        nos seus aspectos filosófico, religioso e científico através do
        estudo das obras da codificação de forma séria, regular e contínua,
        bem como, levar o aluno ao autoconhecimento, através da reflexão
        objetivando a reforma íntima.
        <br />
        <br />
        O curso tem a duração de 05 anos, sendo:
        <br />
        1. Curso Básico de Espiritismo – 04 semestres;
        <br />
        2. Curso de Educação Mediúnica – 04 semestres;
        <br />
        3. Curso de Estudo e Prática Mediúnica – 02 semestres.
        <br />
        <br />
        As aulas acontecem 01 vez na semana, com duração de 1h30 minutos.
        <br />
        Matriculas para 2024, serão abertas em breve.
        <br />
      </p>
    </div>
  </div>
  <!-- /.our-causes -->

  <div class="section-home home-reasons">
    <div class="container">
      <br /><br />
      <div class="row fadeIn animated">
        <div class="col-md-6">
          <img
            src="{% static 'images/estudo1.jpg' %}"
            alt=""
            class="img-responsive"
          />
        </div>

        <div class="col-md-6">
          <img
            src="{% static 'images/estudo2.jpg' %}"
            alt=""
            class="img-responsive"
          />
        </div>
      </div>
    </div>
  </div>
  <!-- /.home-reasons -->

  <div class="section-home home-reasons">
    <div class="container">
      <br /><br />
      <div class="row fadeIn animated">
        <div class="col-md-6">
          <img
            src="{% static 'images/estudo3.jpg' %}"
            alt=""
            class="img-responsive"
          />
        </div>

        <div class="col-md-6">
          <img
            src="{% static 'images/estudo4.jpg' %}"
            alt=""
            class="img-responsive"
          />
        </div>
      </div>
    </div>
  </div>
  <!-- /.home-reasons -->
</div>
    <!-- /.main-container  -->
{% endblock content %}
