{% extends 'base.html' %}
{% load static %}

{% block content %}

  <div class="page-heading text-center">
    <div class="container zoomIn animated">
      <h1 class="page-title">
        Eventos Recentes <span class="title-under"></span>
      </h1>
      <p class="page-description"></p>
    </div>
  </div>

  <!-- GRID INSTAGRAM -->
  
  <div class="section-home home-reasons">
    <div class="container">
      <div class="row fadeIn animated">
        <div class="col-md-4">
          <script src="https://static.elfsight.com/platform/platform.js" data-use-service-core defer></script>
          <div class="elfsight-app-a76414d6-ed56-4844-a419-1f576f894681"></div>
        </div>
      </div>
    </div>
  </div>

  <!-- FIM GRID INSTAGRAM -->
 {% endblock content %}