{% load static %}
<footer class="main-footer">
    <div class="footer-top"></div>

    <div class="footer-main">
      <div class="container text-center">
        <div class="row">
          <div class="col-md-6">
            <div class="footer-col text-center">
              <h4 class="footer-title">
                nossas redes sociais<span class="title-under"></span>
              </h4>

              <div>
                <p>
                  Para mais informações sobre a casa espírita O Consolador,
                  siga nossas redes sociais.
                </p>
                <br />

                <ul class="list-unstyled list-inline header-social">
                  
                  <li>
                    <a
                      href="https://www.facebook.com/consolador.jandira.1"
                      target="_blank"
                    >
                      <i class="fa fa-facebook fa-3x"></i>
                    </a>
                  </li>

                  <li>
                    <a
                      href="https://www.youtube.com/channel/UC5VxieViHMskNq_yd5wiMZw"
                      target="_blank"
                    >
                      <i class="fa fa-youtube fa-3x"></i>
                    </a>
                  </li>

                  <li>
                    <a
                      href="https://www.instagram.com/associacaoespiritao_consolador/"
                      target="_blank"
                    >
                      <i class="fa fa-instagram fa-3x"></i>
                    </a>
                  </li>

                </ul>
                <!-- /.header-social-footer  -->
              </div>
              
            </div>

          </div>

          <div class="col-md-6">
            <div class="footer-col">
              <img src="{% static 'images/logo-footer.png' %}" alt="logo footer" class="cause-img"
              />
            </div>
          </div>

          <div class="clearfix"></div>

        </div>
      </div>
    </div>

    <div class="footer-bottom">
      <div class="container text-right">O Consolador @ copyrights 2023</div>
    </div>
  </footer>